# release
release

# server directories
backend/target
backend/*.db3

# ui directories
ui/node_modules/
ui/dist
ui/dist-ssr
ui/*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# bazel
bazel-bin
bazel-grpc-template
bazel-out
bazel-testlogs

# temp
